body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2tP1AlsdFgvqmc6bXbNA-VKeknVK3TzxXTYG8-OhtFERPF9iTr9hylYQfMrcQ781qvq8&usqp=CAU);
    text-align: center;
    background-repeat: no-repeat;
    
}
